*{
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.container{
  
  height: 100vh;
   width: 100%;
}
.row{
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  width: 60%;
}

.login-con-1{
  width: 45%;
  height: 68vh;
  background-image: url('image/login.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}
.login-con{
  width: 20%;
  font-size: 20px;
  padding: 20px;

  background-color: #ffffff;
  color: #0e0e0e;
}
 h1{
  letter-spacing: 2px;
  text-align: center;
  color: #382b73;
}

 .form .input:focus{
  outline: none !important;
  background: none;
  background: none;
}
 .input{
  background: none;
  color: #3c3968 !important;
  margin: 20px 0 !important;
  font-size: 18px;
  border: none;

}
.first-icon{
  display: block;
  padding-top: 6px;
  
}
.Name{
  color: rgb(36, 32, 32);

}
.password{
  color: rgb(20, 19, 19);
}
.btn{
  color:rgb(5, 5, 5);
}
.login-con button{
   cursor: pointer;
  display: block;
  margin: 10px 0;
  padding-top: 20px;
  background: none;
  color: #382b73;
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 1px;
  border: none;
  text-shadow: #736a9b 0px 0px 3px ;
}
button:focus{
  
  outline: none;
}
/* login end............ */
.form{
  width: 30%;
  font-size: 20px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  background-color: #f51a3e;
  color: #fff !important;
  
}


.css-1x51dt5-MuiInputBase-input-MuiInput-input {
    color:#141414 !important;
     
 
    
}
/* label[data-shrink=false]+.MuiInputBase-formControl .css-1x51dt5-MuiInputBase-input-MuiInput-input {
  margin-top: 20px;
} */
/* .css-1x51dt5-MuiInputBase-input-MuiInput-input {
  
} */
.form .input{
  color: #fff !important;
  background: none;
  font-size: 18px;
  border: none;
  
}
.form .iconify{
  display: block;
  position: relative; 
  left: -4px;
  top: -46px;
  
}
.form button{
  color: #fff !important;
  width: 100%;
  background: none;
  color: black;
  font-size: 20px;
  letter-spacing: 1px;
  border: none;
}
/* formend........ */
.home{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.home .homelink{
  text-decoration: none;
  font-size: 20px;
  color: rgb(29, 28, 26);
}
.home1{
  margin: -4px 0;
  padding-right: 4px;
}
.home-con{
  height: 40vh;
  width: 50%;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  padding: 10px;
  font-size: 20px;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   background-color: rgb(241, 241, 241);
   margin-top: 20px;
   margin-left: 10px;
}   
.home button{
  padding: 10px 20px ;
  margin-left: 10px;
  margin-top: 40px;
  color: #f51a3e;
  background-color: #fff;
  border: none;
  font-size: 30px;
}
.form .inputlast{
  border: none;
  text-align: center;
   width: 100%;
   letter-spacing: 2px;
}
.form  .icon{
  display: block;
  width: 100%;
  text-align: center;
  
}